body {
    background-image: url("../images/declaration.jpg");
}

.header {
    display: inline-block;
    width: 100%;
    background-color: #00348c;
    overflow: auto;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

h1 {
    color:white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}


section {
    border: 3px solid darkred;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: beige;
}


.choice, .restart{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    text-align:center;
    font-size: 20px;
    border: 2px solid black;
}

.options, .time {
    width:80%;
    margin: auto;
    text-align: center;
}

.question{
    width:80%; 
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

button {
    margin-top: 10px;
}

img{
    width: 500px;
    height:400px;
}

.choice:hover{
    background-color: rgb(196, 196, 98);
 }

 .restart:hover{
    background-color: rgb(196, 196, 98);
 }

 .time {
     font-size: 25px;
 }